/** 
* Blog single
*/
.event-page-content {
    padding-top:36px;
}
    .event-page-content .event-intro-wrapper {
        background-image:url("/Content/images/example-images/event1.jpg");
        background-position:center;
        background-size:cover;
        
        
    }
    .event-page-content .event-intro {
        background-color:rgba(0,0,0,0.5);
        padding:0 30px 30px 30px;
        margin-left:52px;
        color:#fff;
    }
#content .event-page-content h1.event-title {
	
	margin:0 0 22px 0 !important;	
	position: relative;
    float:left;
    color:#fff;
}

.event-page-content .event-date {
    float:right;
    font-size:50px;
    font-weight:200;
    line-height:60px;
}

.event-page-content .event-details {
   
    float:left;
}
    .event-page-content .event-details .fa-map-marker {
        margin-right:5px;
    }
    .event-page-content .event-details img {
        height:30px;
        width:30px;
        border:1px solid #fff;
    }
    .event-page-content .event-details a {
        display:block;
        margin-top:62px;
    }
    .event-page-content .event-details img {
        display:block;
        float:left;
        margin:-5px 10px 0 10px ;
       
    }
    .event-page-content .event-details .createdby {
        float:left;
        color:#fff;
    }
        .event-page-content .event-details .creator-name {
            float:left;
            color:#fff;
        }

.event-page-content table.event-restrictions {
    float:right;
}
.event-page-content table.event-restrictions tr td:first-child {
        padding-right: 20px;
        height: 25px;
        color: #bdbdbd;
    }

.event-page-content .post-content {
	margin-top: 0 !important;
}

#sidebar .join-event {
    width:100%;
}
.page-content,
.post-content {
	position: relative;
}
.event-page-content .post-content{
	margin: 22px 0;
	padding-left: 52px;
}
.post-audio,
.post-video {
	margin-bottom: 22px;
}

#ozy-share-div>span {
	line-height: 33px;
	display: block;
	float: left;
}
#ozy-share-div>a {
	font-size: 26px;
	text-decoration: none;
	border-radius: 3px;
	background-color: #F0F0F0;
    display: inline-block;
    margin-left: 5px;
	padding: 6px;
	transition: all .2s;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;	
}
#ozy-share-div.ozy-share-div-blog {
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: 10px 0;
	text-align: right;
}
#ozy-share-div>a>span {
	opacity:0.5;
		-moz-opacity:0.5;
		-webkit-opacity:0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);	
}
#ozy-share-div>a:hover {
	background-color:transparent !important;
}
.post-content .post-audio {
	margin-bottom: 12px;
}
.post-content .post-audio iframe {
	width: 100%;
}
.post-content .post-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.post-video iframe, .post-video object, .post-video embed,
.post-audio iframe, .post-audio object, .post-audio embed {
	width: 100%;
	max-width: 100%;
}
.chat-transcript {
	margin-bottom: 24px;
}
.chat-row {
	margin-bottom: 12px;
}
.chat-row .fn {
	font-weight: 700;
}
.chat-row .chat-text {
	border: 1px solid #dedede;
	border-radius: 3px;	
	padding: 12px;
}